.fw-500 {
  font-weight: 500 !important;
}

.bg-grey {
  background-color: rgba(248, 248, 248, 1) !important;
}

.text-prime {
  color: rgba(44, 102, 110, 1) !important;
}

/* margin */
.dsk-title {
  margin: 96px 0px !important;
}

.mob-title {
  margin: 48px 0px !important;
}

/* padding */

/* border */


/* width */

.w-600 {
  width: 600px !important;
}

.w-content {
  max-width: 100% !important;
  vertical-align: middle !important;
}

.border-10 {
  border: 10px solid white !important;
  border-radius: 50%;
  background: black;
  padding: 13px 15px;
  position: absolute;
  bottom: 45px;
  left:40%;
}

.img-fluid {
  position: relative !important;
}

@media (max-width:760px) {
  .border-10 {
    border: 5px solid white !important;
    padding: 6px 9px;
    bottom: -25px;
    left: 10%;
  }
}